/* Fade Animations */
.aos-animate[data-aos="fade"] {
  opacity: 1;
  transform: scale(1);
}

[data-aos="fade"] {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s cubic-bezier(0.25, 0.8, 0.25, 1), transform 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Fade-Up Animation */
.aos-animate[data-aos="fade-up"] {
  opacity: 1;
  transform: translateY(0);
}

[data-aos="fade-up"] {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Fade-Down Animation */
.aos-animate[data-aos="fade-down"] {
  opacity: 1;
  transform: translateY(0);
}

[data-aos="fade-down"] {
  opacity: 0;
  transform: translateY(-60px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Flip Animations */
.aos-animate[data-aos="flip-up"] {
  opacity: 1;
  transform: rotateX(0deg) scale(1);
}

[data-aos="flip-up"] {
  opacity: 0;
  transform: rotateX(-90deg) scale(0.9);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.aos-animate[data-aos="flip-left"] {
  opacity: 1;
  transform: perspective(2000px) rotateY(0deg) scale(1);
  transform-origin: bottom left;
}

[data-aos="flip-left"] {
  opacity: 0;
  transform: perspective(2000px) rotateY(-90deg) scale(0.5);
  transform-origin: bottom left;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.aos-animate[data-aos="flip-right"] {
  opacity: 1;
  transform: perspective(2000px) rotateY(0deg) scale(1);
  transform-origin: bottom right;
}

[data-aos="flip-right"] {
  opacity: 0;
  transform: perspective(2000px) rotateY(90deg) scale(0.5);
  transform-origin: bottom right;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.aos-animate[data-aos="flip-zoom"] {
  opacity: 1;
  transform: rotateY(0deg) scale(1);
}

[data-aos="flip-zoom"] {
  opacity: 0;
  transform: rotateY(180deg) scale(0.5);
  transition: transform 1.2s ease-in-out, opacity 1s ease-in-out;
}

/* Zoom Animations */
.aos-animate[data-aos="zoom-in"] {
  opacity: 1;
  transform: scale(1);
}

[data-aos="zoom-in"] {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.aos-animate[data-aos="zoom-out"] {
  opacity: 1;
  transform: scale(1);
}

[data-aos="zoom-out"] {
  opacity: 0;
  transform: scale(1.5);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* When animation is active */
.aos-animate[data-aos="tracking-in-contract"] {
  opacity: 1;
  letter-spacing: normal;
}

[data-aos="tracking-in-contract"] {
  opacity: 0;
  letter-spacing: 0.32em;
  transition: letter-spacing 1.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1.5s ease-in-out;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* Text Animations */

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
