@font-face {
  font-family: "default";
  src: url(/assets/fonts/ethnocentric.otf);
}

:root {
  --primary-text-color: #eef0ff;
  --title-color: linear-gradient(180deg, #e9e5fa, #cbbeff);
  --title-font: "default";
  --btn-gradient: linear-gradient(
    to bottom,
    #870000 0%,
    #190a05 100%,
    #870000 200%
  );
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.7vw;
  font-family: "Exo 2";
  letter-spacing: 0.07em;
  color: hsl(270, 20%, 90%);
  font-size: 1.03vw;
  font-weight: 700;
  border: 4px solid hsl(270, 24%, 4%);
  background-image: linear-gradient(
    145deg,
    hsl(270, 39%, 9%),
    hsl(270, 40%, 26%)
  );
  border-radius: 1.3vw;
  box-shadow: inset 0.1em 0.1em 0px hsl(270, 40%, 49%),
    inset -0.1em -0.1em 0px hsl(270, 40%, 11%);
  cursor: pointer;
  text-transform: uppercase;
  scale: 1;
  box-shadow: 0px 0px 1.4em transparent;
  transition: color 0.3s ease-in-out, scale 0.4s ease-in-out,
    box-shadow 0.5s ease-in-out;
}

button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background: linear-gradient(145deg, hsl(270, 40%, 15%), hsl(270, 40%, 38%));
  z-index: -1;
  box-shadow: 0.4em 0.4em 1em hsl(270, 40%, 8%),
    -0.4em -0.4em 1em hsl(270, 40%, 32%);
}

button:hover {
  scale: 1.03;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 0px 0.8em rgb(134, 114, 235);
}

button svg {
  width: 2.7vw;
  height: auto;
  fill: hsl(270, 20%, 90%);
  transition: fill 0.4s ease-in-out;
}

button:hover svg {
  fill: #fff;
}

img {
  pointer-events: auto;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 0.4vw;
  background-color: #000014;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a440de, #ba47d5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: red;
}

::-moz-selection {
  color: red;
  background: green;
}

::selection {
  color: greenyellow;
  background: transparent;
}

html {
  scroll-behavior: auto;
}

body {
  background: linear-gradient(to right, #000014, #00001f, #00001f, #000014);
  color: var(--primary-text-color);
  font-family: "default";
  overflow-y: hidden;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  scroll-snap-align: start;
}

h2{
  font-family: var(--title-font);
  background: var(--title-color);
  background-clip: text;
  color: transparent;
  font-size: 4.3vw;
  text-align: center;
}

/* Header Section */
header {
  display: flex;
  justify-content: center;
}

header .content {
  width: 88vw;
  height: 4.4vw;
  background: rgba(0, 0, 39, 0.7);
  backdrop-filter: blur(50px);
  border: 0.3vw solid rgba(0, 0, 54, 0.8);
  border-radius: 40vw;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0.4vw;
  padding: 0 0.7vw 0 2vw;
  z-index: 998;
}

@media (min-width: 768px) {
  header .content {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 2s cubic-bezier(0.25, 0.8, 0.25, 1) 0.5s,
      transform 2s cubic-bezier(0.25, 0.8, 0.25, 1) 0.5s;
  }

  header .content.active {
    opacity: 1;
    transform: translateY(0);
  }
}

header .logo {
  width: 12.5vw;
  height: auto;
}

header ul {
  width: 43vw;
  display: flex;
  justify-content: space-between;
}

header ul li {
  font-family: "Rubik";
  position: relative;
  list-style: none;
  width: 5vw;
  height: 2.6vw;
  background: transparent;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

header ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

header ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

header ul li:hover {
  width: 12vw;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

header ul li:hover::before {
  opacity: 1;
}

header ul li:hover::after {
  opacity: 0.5;
}

header ul li svg {
  fill: #f2f2ff;
  width: 2vw;
  height: auto;
  transition: 0.5s;
  transition-delay: 0.25s;
}

header ul li:hover svg {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

header ul li span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li .title {
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

header ul li .title svg {
  scale: 0.7;
  transform: rotate(0deg);
  transition: 0.5s;
  transition-delay: 0s;
  margin-right: 0.3vw;
  z-index: 10;
}

header ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

header ul li:hover .title svg {
  scale: 0.7;
  transform: rotate(360deg);
  transition-delay: 0.35s;
}

header ul li.active-item {
  width: 12vw;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

header ul li.active-item::before {
  opacity: 1;
}

header ul li.active-item::after {
  opacity: 0;
}

header ul li.active-item svg {
  transform: scale(0);
  transition-delay: 0s;
}

header ul li.active-item .title {
  transform: scale(1);
  transition: 0.5s;
  transition-delay: 0.25s;
}

header ul li.active-item .title svg {
  transform: rotate(360deg);
  transition: 0.5s;
  transition-delay: 0.35s;
}

header button {
  width: 11.5vw;
  height: 3.3vw;
  background: linear-gradient(180deg, #06006f, #020024);
  font-family: "Outfit";
  color: #ffffff;
  font-size: 1.2vw;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 0.7vw;
  align-items: center;
  border: none;
  border-radius: 10vw;
  cursor: pointer;
}

header button svg {
  fill: #f2f2ff;
  width: 2vw;
  height: auto;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.footer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99.6dvw;
  z-index: 2;
}

.footer .content h2 {
  font-family: var(--title-font);
  background: var(--title-color);
  background-clip: text;
  color: transparent;
  font-size: 4.3vw;
  text-align: center;
  margin-top: 100px;
}

.footer .content p {
  font-family: "Dm Sans";
  color: var(--primary-text-color);
  font-size: 1.3vw;
  font-weight: 600;
  text-align: center;
  margin: 1.2px 3vw 0px 1vw;
}

.footer .container {
  width: 98.8vw;
  height: 25vw;
  background: rgba(33, 35, 82, 0.325);
  border: 0.35vw solid rgba(187, 71, 213, 0.2);
  border-top-left-radius: 4.7vw;
  border-top-right-radius: 4.7vw;
}

.footer .container .gradient {
  width: 100%;
  height: 150%;
  background: #010057;
  border-radius: 130%;
  z-index: -1;
  position: relative;
  top: -38vw;
  filter: blur(200px);
  -webkit-backdrop-filter: blur(10px);
}

.footer .container .sections {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

.footer .container .sections .section1 h3 {
  font-family: "Outfit";
  color: #ffffff;
  font-size: 2vw;
  font-weight: 700;
  text-align: left;
  padding: 3.5vw 0 0 4vw;
}

.footer .container .sections .section1 p {
  font-family: "Poppins";
  color: #f1f4ff;
  font-size: 1.15vw;
  font-weight: 600;
  text-align: left;
  padding: 1vw 0 0 4vw;
}

.footer .container .sections .section1 .input-container {
  width: 80%;
  position: relative;
  margin: 1vw 0 0 3.7vw;
}

.footer .container .sections .section1 .input-container input {
  width: 100%;
  height: 3vw;
  padding: 1.7vw 3vw;
  background: #130040;
  border: 0.3vw solid rgba(19, 0, 115, 0.5);
  border-radius: 1.4vw;
  font-family: "DM Mono";
  font-size: 1.2vw;
  color: #efefef;
  box-sizing: border-box;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.footer .container .sections .section1 .input-container input::placeholder {
  color: #efefef;
  font-weight: 500;
  transition: color 0.5s ease-in-out;
}

.footer .container .sections .section1 .input-container input:focus {
  border: 0.3vw solid #5b258b;
  outline: none;
  box-shadow: 0 0 0.5vw #cb77ff80;
}

.footer
  .container
  .sections
  .section1
  .input-container
  input:focus::placeholder {
  color: #f3e5f5;
  opacity: 1;
}

.footer .container .sections .section1 .icon-left {
  position: absolute;
  top: 50%;
  left: 1vw;
  transform: translateY(-50%);
  height: 1.5vw;
  width: auto;
  pointer-events: none;
}

.footer .container .sections .section1 .icon-right {
  position: absolute;
  top: 50%;
  right: 1vw;
  transform: translateY(-50%);
  height: 1.5vw;
  width: auto;
  cursor: pointer;
}

.footer .container .sections .section2 {
  margin-left: 3vw;
}

.footer .container .sections .section3 {
  margin-left: 2.2vw;
}

.footer .container .sections .section4 {
  margin-left: 1.6vw;
}

.footer .container .sections .section5 {
  margin-right: 4vw;
}

.footer .container .sections h4 {
  font-family: "Poppins";
  color: #fafbfe;
  font-size: 1.6vw;
  text-align: left;
  margin-top: 3.5vw;
}

.footer .container .sections .link {
  display: flex;
  align-items: center;
  margin: 1vw 0 1.5vw 0;
  cursor: pointer;
}

.footer .container .sections img {
  width: 1.8vw;
  height: auto;
  margin-right: 0.5vw;
}

.footer .container .sections h5 {
  font-family: "Poppins";
  color: #efefef;
  font-size: 1.3vw;
  font-weight: 600;
}

