@font-face {
  font-family: "default";
  src: url(/assets/fonts/ethnocentric.otf);
}

:root {
  --primary-text-color: #eef0ff;
  --title-color: linear-gradient(180deg, #e9e5fa, #cbbeff);
  --title-font: "default";
  --btn-gradient: linear-gradient(
    to bottom,
    #870000 0%,
    #190a05 100%,
    #870000 200%
  );
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#smooth-wrapper {
  height: 100dvh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}

#smooth-content {
  height: 100dvh;
}

/* Hero Section */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 3.7vw;
  margin-top: 6vw;
  z-index: 2;
}

.hero .content .text {
  position: relative;
  width: 100%;
  display: flex;
}

.hero .content .text p {
  font-size: 5vw;
  font-family: "Open Sans";
}

.hero .content .text .word {
  position: absolute;
  width: 100%;
  opacity: 0;
  margin-left: 0.8vw;
  font-size: 5vw;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.wisteria {
  color: #8e44ad;
  text-shadow: 0 0 0.7em #8e44ad, 0 0 0px #8e44ad, 0 0 0px #8e44ad;
}

.belize {
  color: #007bff;
  text-shadow: 0 0 2em #007bff, 0 0 0px #007bff, 0 0 0px #007bff;
}

.pomegranate {
  color: #c0392b;
  text-shadow: 0 0 1em #c0392b, 0 0 0px #c0392b, 0 0 0px #c0392b;
}

.green {
  color: #05c766;
  text-shadow: 0 0 0.6em #05c766, 0 0 0px #05c766, 0 0 0px #05c766;
}

.midnight {
  color: #01c7d8;
  text-shadow: 0 0 0.9em #01c7d8, 0 0 0px #01c7d8, 0 0 0px #01c7d8;
}

.hero .content p {
  font-family: "Poppins";
  font-size: 1.199vw;
  font-weight: bold;
  letter-spacing: 1%;
  color: transparent;
  background: linear-gradient(180deg, #f7f1ff, #dfcee1);
  background-clip: text;
  margin-bottom: 0.4vw;
  text-align: justify;
}

.hero .content .sized {
  width: 92%;
}

.hero .content .buttons {
  width: 92%;
  display: flex;
  justify-content: space-evenly;
}

.hero .content button {
  padding: 0 1vw;
  margin-top: 1.9vw;
}

.hero .content .btn {
  width: 15.5vw;
  height: 3.8vw;
  margin-top: 1.9vw;
}

.hero .content .btn::before {
  width: 15.5vw;
  height: 3.8vw;
}

.hero .content .search-btn {
  width: 4vw;
  height: 4vw;
}

.hero .content .search-btn::before {
  width: 4vw;
  height: 4vw;
}

.hero .woman {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5vw;
  position: relative;
}

.hero .woman .img1 {
  width: 45vw;
  height: auto;
  z-index: 2;
  position: absolute;
}

.hero .woman .img2 {
  width: 45vw;
  height: auto;
  right: 4vw;
  z-index: 1;
  background-image: conic-gradient(
    from 180deg,
    rgb(255, 138, 138),
    rgb(0, 0, 0),
    #8c00ff,
    rgb(0, 0, 0)
  );
  -webkit-filter: blur(200px);
}

/* About Section */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 40px;
  margin: 0 5vw;
}

.about .men {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.about .men img {
  width: 75%;
  height: auto;
}

.about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.about .content h2 {
  background: var(--title-color);
  background-clip: text;
  color: transparent;
  font-size: 4.3vw;
}

.about .content p {
  font-family: "Poppins";
  color: #e8eaf6;
  font-size: 1.118vw;
  font-weight: 600;
  text-align: justify;
}

.about .content button {
  width: 15.5vw;
  height: 3.8vw;
}

.about .content button::before {
  width: 15.5vw;
  height: 3.8vw;
}

/* Chart Section */
.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}

.chart .content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3vw 5vw 0 5vw;
}

.chart .content h2 {
  font-family: var(--title-font);
  background: var(--title-color);
  background-clip: text;
  color: transparent;
  font-size: 4.3vw;
  text-align: center;
}

.chart .content p {
  font-family: "Dm Sans";
  color: var(--primary-text-color);
  font-size: 1.3vw;
  font-weight: 600;
  text-align: center;
  width: 60%;
  margin: 5px 3vw 2vw 3vw;
}

.chart .chart-wrapper {
  text-align: center;
  color: #fff;
  width: 70%;
}

.chart .chart-container {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.chart .y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27vw;
  padding-right: 10px;
  text-align: left;
  color: #9b9b9b;
  font-size: 1vw;
  font-weight: 600;
}

.chart .y-axis div::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #cccccc33;
  margin-left: 5px;
}

.chart .content .graph {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 26vw;
  width: 100%;
  background-size: cover;
  position: relative;
}

.chart .graph::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0.35vw;
  background-color: #cccccc33;
  left: 0;
  top: 0;
  z-index: 1;
}

.chart .graph::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #cccccc33 10%, transparent 10%);
  background-size: 100% 10%;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 0;
}

.chart .bar {
  position: relative;
  flex: 1;
  margin: 0 1.2vw;
  background-color: transparent;
  border: 0.21vw solid;
  border-radius: 1vw 1vw 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 12px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.chart .bar:hover {
  transform: scale(1.05);
}

.chart .bar.flutter {
  background-color: rgba(34, 197, 94, 0.3);
  border-color: rgb(34, 197, 94);
}

.chart .bar.html {
  background-color: rgba(245, 159, 11, 0.3);
  border-color: rgb(245, 159, 11);
}

.chart .bar.css {
  background-color: rgba(234, 178, 8, 0.3);
  border-color: rgb(234, 178, 8);
}

.chart .bar.dart {
  background-color: rgba(56, 189, 248, 0.3);
  border-color: rgb(56, 189, 248);
}

.chart .bar.js {
  background: rgba(59, 131, 246, 0.3);
  border-color: hwb(217 23% 4%);
}

.chart .bar.php {
  background: rgba(99, 101, 241, 0.3);
  border-color: rgb(99, 102, 241);
}

.chart .bar.python {
  background: rgba(163, 163, 163, 0.3);
  border-color: rgb(163, 163, 163);
}

.chart .bar.mysql {
  background: rgba(216, 70, 239, 0.3);
  border-color: rgb(217, 70, 239);
}

.chart .bar.design {
  background: rgba(239, 68, 68, 0.3);
  border-color: rgb(239, 68, 68);
}

.chart .bar-label {
  position: absolute;
  bottom: -2.3vw;
  width: 100%;
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  color: #9b9b9b;
}

.chart .tooltip {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 0.5vw;
  font-size: 1vw;
  padding: 0.5vw 1vw;
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.chart .tooltip.show {
  display: block;
  opacity: 1;
}

/* Social Section */
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 5vw;
}

.social h2 {
  font-family: var(--title-font);
  background: var(--title-color);
  background-clip: text;
  color: transparent;
  font-size: 4.3vw;
  text-align: center;
  margin-top: 100px;
}

.social p {
  font-family: "Dm Sans";
  color: var(--primary-text-color);
  font-size: 1.3vw;
  font-weight: 600;
  text-align: center;
  margin: 1px 3vw 0px 1vw;
}

.social .image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2.1vw 3vw;
  margin-top: 20px;
}

.social .image img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.social .image .img1 {
  grid-column: 1/3;
  grid-row: 1/3;
  border-radius: 4vw;
  padding: 0.26vw;
  border: 0px solid transparent;
  background-image: linear-gradient(
    to bottom right,
    rgba(166, 0, 199, 0.4),
    rgba(81, 0, 97, 0.2)
  );
  background-clip: padding-box;
}

.social .image .img2 {
  grid-column: 3/11;
  grid-row: 1/5;
  border-radius: 4vw;
  padding: 0.26vw;
  border: 0px solid transparent;
  background-image: linear-gradient(
    to bottom,
    rgba(166, 0, 199, 0.4),
    rgba(81, 0, 97, 0.2)
  );
  background-clip: padding-box;
  z-index: 5;
}

.social .image .img3 {
  grid-column: 11/13;
  grid-row: 1/3;
  border-radius: 4vw;
  padding: 0.26vw;
  border: 0px solid transparent;
  background-image: linear-gradient(
    to bottom left,
    rgba(166, 0, 199, 0.4),
    rgba(81, 0, 97, 0.2)
  );
  background-clip: padding-box;
}

.social .image .img4 {
  grid-column: 1/3;
  grid-row: 3/6;
  border-radius: 4vw;
  padding: 0.26vw;
  border: 0px solid transparent;
  background-image: linear-gradient(
    to bottom right,
    rgba(166, 0, 199, 0.4),
    rgba(81, 0, 97, 0.2)
  );
  background-clip: padding-box;
}

.social .image .img5 {
  grid-column: 11/13;
  grid-row: 3/6;
  border-radius: 4vw;
  padding: 0.26vw;
  border: 0px solid transparent;
  background-image: linear-gradient(
    to bottom left,
    rgba(166, 0, 199, 0.4),
    rgba(81, 0, 97, 0.2)
  );
  background-clip: padding-box;
}

/* FAQ */
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 3vw;
  overflow-y: hidden;
}

.faq .content h2 {
  font-family: var(--title-font);
  background: var(--title-color);
  background-clip: text;
  color: transparent;
  font-size: 4.3vw;
  text-align: center;
  margin-top: 100px;
}

.faq .content p {
  font-family: "Dm Sans";
  color: var(--primary-text-color);
  font-size: 1.3vw;
  font-weight: 600;
  text-align: center;
  margin: 1px 3vw 0px 1vw;
}

.faq .content .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  margin-top: 1em;
}

.faq .container .accordion input[type="radio"] {
  display: none;
}

.faq .container .accordion label {
  font-family: "Poppins";
  color: #ffffff;
  font-size: 1.25vw;
  font-weight: 600;
  margin-left: 1vw;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
}

.faq .container .accordion label::before {
  content: "+";
  font-family: "Poppins";
  color: #ffffff;
  font-size: 2.2vw;
  font-weight: 600;
  margin: 0 0.5vw;
}

.faq .container .accordion .description p {
  font-family: "DM Sans";
  color: #e0e0e0;
  font-size: 1.12vw;
  font-weight: 600;
  line-height: 2.1vw;
  text-align: left;
  max-height: 0px;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.8s, padding 0.8s;
}

.faq .accordion li {
  background: linear-gradient(180deg, #00012b, rgb(22, 0, 30));
  border-radius: 2vw;
  padding: 1.3vw;
  box-shadow: 0px 0px 0.8em rgba(149, 161, 225, 0.785);
  margin: 1.5em 2vw;
}

.faq
  .container
  .accordion
  input[type="radio"]:checked
  + label
  + .description
  p {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.faq .container .accordion input[type="radio"]:checked + label::before {
  content: "-";
  font-family: "Poppins";
  color: #ffffff;
  font-size: 2.2vw;
  font-weight: 600;
  margin: 0 0.5vw;
}

@media (min-width: 1200px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 1199px) {
  .mobile {
    display: none;
  }
}
